@use './../../../variables' as vars;
@use './../../../mixins';

.skills-container, .hobbies-container {
  @include mixins.comic-background-2(vars.$color-bg-blue-1);

  border-radius: .8rem;

  &__heading {
    background-color: vars.$color-bg-blue-2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 0;
    border-radius: .8rem .8rem 75% 75%;

    svg {
      font-size: 3.5rem;
    }
  }
}

.skills-container__list li, .hobbies-container__list li {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  $padding-X: 2rem;
  padding: 1rem $padding-X;

  &:last-of-type {
    padding-bottom: 1.4rem;
  }

  @include mixins.tablet {
    padding: 1.25rem $padding-X;

    &:last-of-type {
      padding-bottom: 1.5rem;
    }
  }

  @include mixins.laptop {
    padding: 1.5rem $padding-X;

    &:last-of-type {
      padding-bottom: 1.8rem;
    }
  }

  svg {
    font-size: 1.9rem;
  }
}

.hobbies-container__list {
  display: flex;
  justify-content: center;

  @include mixins.tablet {
    justify-content: start;

    li:last-of-type svg {
      font-size: 2.55rem;
      margin-right: .9rem;
    }
  }

  li svg {
    font-size: 2.5rem;
    margin-right: 1rem;
  }

  li:nth-child(2) svg {
    transform: scaleX(-1);
  }
}
