@use './variables' as vars;

.text-center {
  text-align: center;
}

.font-bold {
  font-weight: bold;
}

.content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg-greene {
  background-color: vars.$color-greene;
}

.overflow-hidden {
  overflow: hidden;
}

.display-none {
  display: none !important;
}

.hide {
  opacity: 0;
}

.unhide {
  transition: opacity .75s ease-in-out;
  opacity: 1;
}
