@mixin phone {
  @media(min-width: 454px) {
    @content;
  }
}

@mixin tablet {
  @media(min-width: 768px) {
    @content;
  }
}

@mixin tablet-max {
  @media(max-width: 1023px) {
    @content;
  }
}

@mixin laptop {
  @media(min-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1367px) {
    @content;
  }
}

@mixin hover-glow($transition-time, $shadow-size, $color, $border-color, $shadow-color, $cursor: pointer) {
  transition: border-color, box-shadow, $transition-time;
  &:hover {
    cursor: $cursor;
    border-color: $border-color;
    box-shadow: 0px 0px $shadow-size 0px $shadow-color;
  }

  &:hover, &:hover p {
    color: $color;
  }
}

@mixin comic-background-1($background-color) {
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(0)" opacity="0.2" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'), $background-color;
  background-size: 10px, 100%;
}

@mixin comic-background-2($background-color) {
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(0)" opacity="0.045" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'), $background-color;
  background-size: 10px, 100%;
}
