// Colors
$color-bg-primary: #1F2041;
$color-bg-blue-1: #1D3553;
$color-bg-blue-2: #1C4360;
$color-white: #FFFFFF;
$color-greene: #11A6AE;
$color-greene-light: lighten($color-greene, 10);
$color-blue: #19647E;
$color-gray: #888888;
// $color-yellow: #FACB6D; //$color-yellow: #FFC857;

// Time
$duration-short: 300ms;
$duration-normal: 500ms;
$duration-medium: 1s;
$duration-long: 1.5s;

// Margins / Paddings
$margin-short: 3rem;
$margin-base: 3.65rem;

// Widths / heights
$width-short: 70rem;
$width-base: 90rem;
