// Colors
$color-bg-primary: #1F2041;
$color-bg-blue-1: #1D3553;

$color-white: #FFFFFF;
$color-greene: #11A6AE;
$color-greene-light: lighten($color-greene, 10);
$color-blue: #19647E;
$color-yellow: #FACB6D; //$color-yellow: #FFC857;
$color-gray: #888888;

// Time
$duration-short: 300ms;
$duration-medium: 1s;
$duration-long: 1.5s;

// Margins / Paddings
$margin-base: 3.65rem;
