@use 'general/variables' as vars;

// Estilos del header
.header{
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  // Saludo
  &__hello{
    font-size: 25rem;
    margin-bottom: 5rem;
    span{
      font-weight: bold;
      text-decoration: underline;
    }
  }

  // h2 con el nombre
  &__dev-name{
    font-size: 58rem;
    background: linear-gradient(to right, lighten(vars.$color-green, 2), vars.$color-green);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  // Foto
  &__photo{
    display: flex;
    justify-content: center;
    align-items: center;

    .photo{
      margin-top: 16rem;
      width: 200rem;
      height: 200rem;
      border-radius: 50%;
      border: 4px solid vars.$color-green;
    }
  }

  // Keyframes de la burbuja de diálogo
  @keyframes bubble {
    0% {rotate: 0deg;}
    25% {rotate: 5deg;}
    75% {rotate: -5deg;}
    100% {rotate: 0deg;}
  }

  // Burbuja de diálogo de bienvenida
  .bubble-container{
    position: absolute;
    margin: 0 0 70rem 400rem;
    animation-name: bubble;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-timing-function: linear;

    &:hover{
      animation-iteration-count: infinite;
      cursor: cell;

      .bubble{
        box-shadow: 0px 0px 8rem 0px vars.$color-gray;
      }
      .bubble p{
        color: lighten(vars.$color-green, 5);
      }
    }

    .bubble{
      position: relative;
      width: 180rem;
      height: 130rem;
      border: 3rem vars.$color-white;
      border-style: solid;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      p{
        font-size: 24rem;
        text-align: center;
        position: relative;
        padding: 6rem;
        color: vars.$color-green;
        font-family: 'Comic Sans', sans-serif;
        user-select: none;
      }

      p:before{
        content: '';
        position: absolute;
        border: 25rem solid;
        left: 12rem;
        top: 85rem;
        border-color: vars.$color-white transparent transparent vars.$color-white;
        rotate: 22deg;
      }

      p:after{
        content: '';
        position: absolute;
        border: 22rem solid;
        left: 19rem;
        top: 82rem;
        border-color: vars.$color-bg-primary transparent transparent vars.$color-bg-primary;
        rotate: 22deg;
      }
    }
  }

  // Título y trabajo
  &__dev-title, &__dev-work{
    margin: 10rem;
    display: flex;
    align-items: center;
    p{
      font-size: 18rem;
    }
  }

  // Ícono título
  .dev-title-icon{
    color: vars.$color-green;
    font-size: 40rem;
    margin-right: 10rem;
  }

  // Iocno trabajo
  .dev-work-icon{
    font-size: 27rem;
    margin-right: 10rem;
  }
}