@use 'general/variables' as vars;
@use 'general/mixins' as mixins;

/* Sección "Sobre mí */
.about-me{
  //background-color: #ff000023;
  max-width: 86%;
  @include mixins.laptop{
    max-width: 98%;
  }

  &__photo{
    width: 250rem;
    height: 250rem;
    border-radius: 15%;
    border: 4rem solid vars.$color-green;
  }

  &__info{
    background-color: vars.$color-bg-blue-1;
    color: vars.$color-white;
    font-size: 18rem;
    padding: 15rem 0;
    margin-top: 30rem;
    border-radius: 5%;
    @include mixins.tablet{
      min-width: 600rem;
    }
    
    &-container{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 20rem;
    }

    p{
      max-width: 85%;
      @include mixins.tablet{
        max-width: 100%;
      }
    }
  }
}

// Ícono de experiencia
.experience{
  .icon{
    font-size: 38rem;
    margin-right: 8rem;
  }
}

// Ícono de alma mater
.alma-mater{
  .icon{
    font-size: 35rem;
    margin-right: 15rem;
  }
}

// Ícono de idiomas
.languages{
  .icon{
    font-size: 25rem;
    margin: 0 15rem 0 7rem;
  }
}

// Ícono de #1
.top-one{
  .icon{
    font-size: 33rem;
    margin: 0 10rem 0 2rem;
  }
}

/* Contenedor de habilidades */
.abilities-container{
  margin-top: 60rem;
  
  h3{
    margin-bottom: 30rem;
  }

  .abilities-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 40rem;
  }

  /* Establecer grid en tamaño de tablet */
  @include mixins.tablet{
    .abilities-grid{
      grid-template-columns: 1fr 1fr;
      column-gap: 60rem;
    }
  }
}

/* Habilidades */
.abilities{
  //margin: 20rem 0;
  //background-color: rgba(vars.$color-blue, 0.3);
  background-color: vars.$color-bg-blue-1;
  border-radius: 8rem;

  .heading{
    background-color: rgba(vars.$color-blue, 0.3);
    color: vars.$color-white;
    border-radius: 8rem 8rem 75% 75%;
    padding: 30rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40rem;
    h4{
      margin-right: 20rem;
    }
    .icon{
      font-size: 35rem;
    }
  }

  &.backend .heading{
    .icon{
      font-size: 42rem;
    }
  }

  ul{
    color: vars.$color-white;
    font-size: 18rem;
    li{
      padding: 17rem 20rem;
      display: flex;
      align-items: center;
    }
    li:first-of-type{ 
      padding-top: 14rem;
    }
    .icon{
      margin: 0 5rem 0 0rem;
    }
  }
}

/* Contenedor de resumen */
.resume-container{
  margin-top: 60rem;
  h3{
    margin-bottom: 35rem;
  }
}

// Gráfica de habilidades
.abilities-chart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20rem;

  // Gráfica de habilidades
  img{
    width: auto;
    height: auto;
    margin-bottom: 10rem;
    max-width: 100%;
    border-radius: 5%;
    opacity: .9;
    cursor: pointer;
    @include mixins.tablet{
      max-width: 70%;
    }
    @include mixins.laptop{
      max-width: 55%;
    }
  }
}

// Gráfico de GitHub
.github-graph{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img{
    width: auto;
    height: auto;
    opacity: 0.9;
    border-radius: 4rem;
    cursor: pointer;
    @include mixins.tablet{
      max-width: 85%;
    }
    @include mixins.laptop{
      max-width: 75%;
    }
  }
  p{
    width: 100%;
    margin-top: 10rem;
    text-align: center;
    a{
      text-decoration: underline;
    }
    @include mixins.laptop{
      text-align: left;
      margin-left: 230rem;
    }
  }
}