@use 'general/variables' as vars;
@use 'general/mixins' as mixins;

/* Navegación flotante */
.nav{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  right: 1rem;
  height: 100vh;
  font-size: 20rem;

  /* Mixins de la navegación */
  @include mixins.tablet{
    font-size: 25rem;
    right: 40rem;
  }

  @include mixins.laptop{
    right: 140rem;
  }

  /* Contenedor de iconos de navegación */
  &__icons{
    background-color: rgba(vars.$color-blue, 0.5);
    @include mixins.tablet{
      background-color: rgba(vars.$color-blue, 0.3);
    }
    border-radius: 6rem;
  }

  /* Cada icono de navegación */
  &__icon{
    padding: 11rem 5rem;
    @include mixins.tablet{
      padding: 13rem 5rem;
    }
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lighten(vars.$color-green, 5);
    & svg:hover{
      cursor: pointer;
      @include mixins.laptop{
        color: vars.$color-yellow;
      }
    }
  }

  // Si la navegación está oculta, el cursor no combiará
  &.opacity-0 svg:hover{
    cursor: default;
  }

  // Ícono de cambio de idioma
  &__icon.nav__language{
    color: lighten(vars.$color-bg-secondary, 30);
  }

  // Icono de navegación actualmente activo
  &__icon.current{
    color: vars.$color-white;
  }
}