@use 'general/variables' as vars;
@use 'general/mixins' as mixins;

/* Contenedor de proyectos */
.projects{
  // Ocultar slider en tamaño de tablet
  .swiper{
    margin-top: 40rem !important;
    @include mixins.tablet{
      display: none;
    }
  }
}

/* Proyecto (general) */
.project{
  //margin-top: 40rem;
  padding: 10rem 0;
  background-color: rgba(vars.$color-bg-blue-1, .5);
  border: 1rem solid rgba(vars.$color-green, .5);
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    a{
      font-size: 25rem;
      @include mixins.laptop{
        &:hover{
          text-decoration: underline;
        }
      }
    }
    a:last-of-type{
      font-size: 25rem;
      height: 100%;
      display: flex;
      align-items: flex-end;
    }
  }

  &__image{
    max-width: 80%;
    height: auto;
    border-radius: 5%;
    margin: 10rem 0;
    
    @include mixins.laptop{
      border: 1rem solid transparent;
      &:hover{
        cursor: pointer;
        border: 1rem solid vars.$color-green;
        filter: brightness(110%);
      }
    }
  }

  &__footer{
    text-align: center;
    font-size: 16rem;
    color: vars.$color-white;
    span{
      color: vars.$color-yellow;
    }
  }
}

/* Slider de projectos */
.swiper{
  margin-top: 40rem;
  /* Proyeto (slider) */
  .project{
    &__footer{
      margin-bottom: 30rem;
    }
  }
}

/* Contenedor de projectos */
.projects-container{
  max-width: 850rem;
  margin-top: 40rem;
  // Ocultar en tamaño de teléfono
  display: none;

  @include mixins.tablet{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40rem;
  }

  @include mixins.laptop{
    grid-template-columns: repeat(3, 1fr);
  }
}