@use 'general/variables' as vars;
@use 'general/mixins' as mixins;

/* Sección de reviews */
.reviews{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Contenedor de reviews */
.reviews-container{
  margin-top: 30rem;
  max-width: 95%;
  @include mixins.tablet{
    max-width: 90%;
  }
  @include mixins.laptop{
    max-width: 58%;
  }
  @include mixins.desktop{
    max-width: 55%;
  }
  background-color: vars.$color-bg-blue-1;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1rem solid rgba(vars.$color-green, .6);
  border-radius: 5rem;

  .swiper{
    width: 100%;
    margin: 0rem !important;
    max-width: fit-content !important;
  }

  .swiper-wrapper{
    display: flex !important;
  }

  .swiper-pagination-bullets{
    bottom: 0 !important;
  }

  .swiper-button-prev, .swiper-button-next{
    height: 100% !important;
    top: 15% !important;
    @include mixins.tablet{
      top: 10% !important;
    }
    @include mixins.laptop{
      top: 5% !important;
    }
  }

  img{
    border-radius: 5rem;
    @include mixins.laptop{
      border: 1rem solid transparent;
      margin: 10rem 45rem 20rem 45rem;
      &:hover{
        cursor: pointer;
        border: 1rem solid vars.$color-yellow;
      }
    }
  }
}