@use './../../mixins';

.cv-button {
  margin-top: 2.0rem;
  width: 100%;
  display: flex;
  justify-content: start;

  @include mixins.tablet {
    margin-top: 3rem;
    justify-content: end;
  }

  svg {
    font-size: 2.0rem;
    margin-left: 1rem;
  }

  span {
    font-weight: bold;
  }
}
