@use './../../variables' as vars;
@use './../../mixins';

.cv-button {
  margin-top: 2.0rem;
  width: 100%;
  display: flex;
  justify-content: center;

  button {
    @include mixins.tablet-max {
      border: none;
      background-color: transparent;
      text-decoration: underline;
      color: vars.$color-greene-light;
      font-size: 1.9rem;
      box-shadow: none;
    }
  }

  @include mixins.tablet {
    margin-top: 3rem;
    justify-content: end;
  }

  span {
    font-weight: bold;
  }
}
