@use './../../variables' as vars;
@use './../../mixins';

.dialog {
  animation: swing-2 vars.$duration-long linear;

  margin-top: 2rem;

  p {
    font-size: 3.5rem;
  }

  @include mixins.tablet {
    display: none;
  }
}
