@use './../../variables' as vars;
@use './../../mixins';

.dialog {
  animation: swing vars.$duration-long linear 2;
  margin-top: 1rem;

  p {
    font-size: 3.5rem;
  }

  @include mixins.tablet {
    display: none;
  }
}
