@use './../../variables' as vars;
@use './../../mixins';
@use './../../keyframes';

.dialog-bubble {
  position: absolute;
  top: 0.8rem;
  right: -19rem;
  width: 18rem;
  height: 13rem;
  border: .3rem solid vars.$color-white;
  border-radius: 50%;
  animation: swing-1 vars.$duration-medium linear 2;
  justify-content: center;
  align-items: center;
  display: none;

  @include mixins.tablet {
    display: flex;
  }

  @include mixins.hover-glow(vars.$duration-short, 1.6rem, vars.$color-greene-light, vars.$color-white, vars.$color-gray, cell);
  
  &:hover {
    animation-iteration-count: infinite;

    p {
      color: lighten(vars.$color-greene, 7);
    }
  }

  p {
    font-size: 2.4rem;
    padding: .6rem;
    user-select: none;
  }

  p:before {
    content: '';
    position: absolute;
    top: 11.2rem;
    left: 0.8rem;
    border: 2.5rem solid;
    border-color: vars.$color-white transparent transparent vars.$color-white;
    rotate: 22deg;
  }

  p:after {
    content: '';
    top: 11.1rem;
    left: 1.4rem;
    position: absolute;
    border: 2.1rem solid;
    border-color: vars.$color-bg-primary transparent transparent vars.$color-bg-primary;
    rotate: 22deg;
  }
}
