@use './../../general/variables' as vars;
@use './../../general/mixins';

// Name
h1 {
  margin: 1rem 0;
}

// Header with photo and dialog bubble
.header {
  height: 100vh;
  padding-top: 1vh;

  //background-color: rgba(cyan, 0.2); TODO

  @include mixins.desktop {
    padding-top: 5vh;
  }

  // Hello paragraph
  &__hello {
    font-size: 2.6rem;
    padding: 3rem 0 .5rem 0;

    span {
      font-weight: bold;
      text-decoration: underline;
    }
  }

  // Photo (and dialog bubble) container
  &__photo {
    position: relative;
    padding-top: 1.6rem;
  }

  // Photo
  img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: .4rem solid vars.$color-greene;
    transition: border-color 150ms;

    &:hover {
      cursor: pointer;
      border-color: lighten(vars.$color-greene, 10);
    }
  }
}
