@use './../../variables' as vars;
@use './../../mixins';

// Header with photo and dialog bubble
.header {
  height: 100vh;
  padding-top: 2rem;

  //background-color: rgba(cyan, 0.2); // TODO

  @include mixins.desktop {
    padding-top: 5vh;
  }

  // Hello paragraph
  &__hello {
    font-size: 2.6rem;
    padding: 1rem 0 .5rem 0;

    @include mixins.tablet {
      padding-top: 3rem;
    }

    span {
      font-weight: bold;
      text-decoration: underline;
    }
  }

  // Name
  h1 {
    margin: 2.5rem 0 1.8rem 0;
    line-height: 1;
  }

  // Photo (and dialog bubble) container
  &__photo {
    position: relative;
    padding-top: 1rem;
  }

  // Photo
  img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: .4rem solid vars.$color-greene;
    @include mixins.hover-glow(vars.$duration-short, 1.5rem, vars.$color-white, vars.$color-greene-light, vars.$color-gray);
  }
}
