@use './../../mixins';

.header-info {
  display: flex;
  flex-direction: column;
  align-items: start;

  @include mixins.phone {
    display: block;
  }

  &__degree, &__job {
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon-degree {
      font-size: 4rem;
      margin-right: 1rem;
    }

    .icon-job {
      font-size: 2.9rem;
      margin-right: 1rem;
    }
  }
}

.header-info__degree-text {
  margin-right: 3.5rem;
  line-height: 1.4;

  .space {
    display: none;
  }

  @include mixins.phone {
    flex-direction: row;
    margin-right: 0;

    .space {
      display: inline;
    }
  }
}
