@use './../../variables' as vars;

.reviews {
  margin-top: vars.$margin-base;

  .section-heading svg {
    font-size: 4rem;
    margin-left: 1.3rem;
  }

  .reviews-container {
    margin-top: vars.$margin-short;
  }

  .reviews__footer {
    width: 100%;
    font-size: vars.$font-size-normal;
  }
}
