@use './../../variables' as vars;
@use './../../mixins';

.projects__github {
    filter: brightness(85%);
    margin-top: vars.$margin-short;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    img {
      cursor: pointer;
      border-radius: .5rem;
      max-width: 100%;
    }
  
    p {
      width: 100%;
      margin-top: .75rem;
      font-size: 1.85rem;
    }

    @include mixins.laptop {
      img {
        max-width: 90%;
      }

      p {
        padding-left: 5%;
      }
    }
  }
