@use './../../variables' as vars;
@use './../../mixins';

.projects {
  width: 100%;
  margin-top: vars.$margin-base;

  @include mixins.laptop {
    max-width: 100%;
  }
}

.projects-container {
  margin-top: vars.$margin-short;
}
