@use './../../variables' as vars;

.contact {
  margin-top: vars.$margin-base;
  width: 100%;

  .section-heading {
    svg {
      font-size: 3.9rem;
      margin-left: 1.85rem;
    }
  }
}

.contact-container {
  margin-top: vars.$margin-base;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
