@use './../../variables' as vars;
@use './../../mixins';

.media-links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;

  @include mixins.laptop {
    gap: 2rem;
  }
}
