@use './../../variables' as vars;
@use './../../mixins';

.media-link {
  @include mixins.comic-background-2(vars.$color-bg-blue-1);
  padding: 1rem 1.7rem;
  border-radius: .5rem;
  gap: 1.8rem;
  width: 100%;

  p {
    font-size: 1.7rem;
    color: vars.$color-greene-light;
  }

  @include mixins.tablet {
    padding: 1.5rem 10rem;
    width: 88%;
  }

  @include mixins.laptop {
    padding: 1.1rem 3rem;
  }
}

.media-link__icon {
  padding-left: 2.6rem;
  display: flex;
  gap: .25rem;

  svg:first-of-type {
    font-size: 3.75rem;
  }

  svg:last-of-type {
    font-size: 2rem;
  }

  @include mixins.laptop {
    padding-left: 2.9rem;
    gap: .35rem;

    svg:last-of-type {
      font-size: 2.27rem;
    }
  }
}

.media-link__text {
  div {
    display: flex;
    gap: 1rem;
    
    &:hover p, &:hover svg{
      color: lighten(vars.$color-greene, 25);
    }
  }
  
  svg {
    font-size: 2.2rem;
    color: vars.$color-greene-light;
  }
}
