@use './../../variables' as vars;
@use './../../mixins';

div[class^="content-slider-button"] {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 2.6rem; // nav padding-top + laptp svg font-size
  font-size: 6rem;
  color: vars.$color-greene-light;
  background-color: rgba(vars.$color-bg-blue-2, .25);
  cursor: pointer;

  svg {
    opacity: .7;
  }
}

.content-slider-button--prev {
  left: -1.8%;
}

.content-slider-button--next {
  transform: scaleX(-1);
  left: unset;
  right: -1.8%;
}
