@use './../../variables' as vars;
@use './../../mixins';

// Phone classes are always present at the beginning
*[class^="content-slider--phone"] {
  display: grid;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

/* MIXINS FOR SETTING THE SLIDER STYLES */

// Show navigation
@mixin show-nav {
  .content-slider-nav {
    display: flex !important;
  }
}

// Each elements must take 100% of height
@mixin height-100 {
  .content-slider__element {
    height: 100%;

    > *:first-child {
      height: 100%;
    }
  }
}

// Column and row
@mixin col-row($column, $row) {
  .content-slider__element {
    grid-column: $column;
    grid-row: $row;
  }
}

// Set elements in position relative
@mixin relative {
  .content-slider__element {
    position: relative;
    left: 0%;
  }
}

// All elements contained in the same column and row
@mixin cols-0($width, $gap, $height-100: true) {
  width: $width;
  gap: $gap;
  grid-template-columns: 1fr;

  @include col-row(1, 1);

  @include relative;

  @include show-nav;

  @if $height-100 {
    @include height-100;
  }
}

// 1 column
@mixin cols-1($width, $gap, $height-100: true) {
  width: $width;
  gap: $gap;
  grid-template-columns: 1fr;

  @include col-row(unset, unset);

  @if $height-100 {
    @include height-100;
  }
}

// 2 columns
@mixin cols-2($width: 100%, $gap: 3rem, $height-100: true) {
  width: $width;
  gap: $gap;
  grid-template-columns: repeat(2, 1fr);

  @include col-row(unset, unset);

  @if $height-100 {
    @include height-100;
  }
}

// 3 columns
@mixin cols-3($width: 100%, $gap: 4rem, $height-100: true) {
  width: $width;
  gap: $gap;
  grid-template-columns: repeat(3, 1fr);

  @include col-row(unset, unset);

  @if $height-100 {
    @include height-100;
  }
}

// n columns
@mixin cols-n($width: 100%, $gap: 2rem, $height-100: true) {
  width: $width;
  gap: $gap;
  grid-auto-flow: column;

  @include col-row(unset, unset);

  @if $height-100 {
    @include height-100;
  }
}

/* SLIDER STYLES */

// Up to phone size
@include mixins.phone-max {
  .content-slider--phone-0 {
    @include cols-0(100%, 0, false);
  }

  .content-slider--phone-1 {
    @include cols-1(100%, 2rem, false);
  }

  .content-slider--phone-n {
    @include cols-n(100%, 1.5rem);
  }
}

// Only tablet size
@include mixins.tablet-only {
  .content-slider--tablet-0 {
    @include cols-0(100%, 0, false);
  }

  .content-slider--tablet-1 {
    @include cols-1(100%, 3rem);
  }

  .content-slider--tablet-2 {
    @include cols-2(100%, 3rem);
  }

  .content-slider--tablet-n {
    @include cols-n(100%, 2.25rem);
  }
}

// Only laptop size
@include mixins.laptop {
  .content-slider--laptop-0 {
    @include cols-0(100%, 0);
  }

  .content-slider--laptop-1 {
    @include cols-1(100%, 4rem);
  }

  .content-slider--laptop-2 {
    @include cols-2(82%, 4rem);
  }

  .content-slider--laptop-3 {
    @include cols-3(82%, 4rem);
  }

  .content-slider--laptop-n {
    @include cols-n(100%, 3rem);
  }
}

// Desktop size
@include mixins.desktop {
  .content-slider--laptop-3 {
    @include cols-3(60%, 4rem);
  }
}

.content-slider__element {
  transition: left vars.$duration-normal;
}
