@use './../../variables' as vars;
@use './../../mixins';

.content-slider-nav {
  display: none;
	justify-content: center;
	font-size: 1.8rem;

  .content-slider-nav__icons {
    display: flex;
    padding-top: .5rem;
    gap: .9rem;
    padding-right: .22rem;
  }

  svg {
    opacity: 0.25;
    cursor: pointer;
  }

	svg.current {
    opacity: 1;
		color: vars.$color-greene-light;
	}

  @include mixins.tablet {
    font-size: 2rem;

    .content-slider-nav__icons {
      gap: 1rem;
    }
  }

  @include mixins.laptop {
    font-size: 2.1rem;
    
    .content-slider-nav__icons {
      gap: 1.2rem;
    }
  }
}
