@use './../../variables' as vars;

.content-slider-nav {
	justify-content: center;
	position: relative;
	bottom: 0rem;
	font-size: 1.8rem;
	padding-top: .5rem;

  svg {
    opacity: 0.25;
  }

	svg.current {
    opacity: 1;
		color: vars.$color-greene-light;
	}
}
