@use './../variables' as vars;
@use './../mixins';

.cv-button, .cv-button--header, .cv-button--about-me {
  width: 100%;
  justify-content: center;
  display: flex;

  @include mixins.tablet {
    justify-content: end;
  }

  span {
    font-weight: bold;
  }
}

.cv-button--header {
  margin: 1rem 0 0 2.2rem;
  display: none;

  button {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @include mixins.tablet {
    display: flex;
  }
}

.cv-button--about-me {
  margin-top: vars.$margin-base;
  @include mixins.tablet {
    display: none;
  }
}
