.image-overlay {
  cursor: pointer;
  background-color: rgba(black, 0.4);
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  &__container {
    height: 100%;
    display: flex;
    overflow-y: auto;

    img {
      max-width: 98%;
      margin: auto;
      padding: 3.2rem 0;
    }
  } 
}
