@use './../variables' as vars;
@use './../mixins';

.images-overlay {
  cursor: pointer;
  background-color: rgba(black, 0.5);
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  &__slider {
    width: 100vw;
    height: 100%;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 3.2rem 0;
    position: relative;
    
    // Image (current by default)
    img {
      cursor: default;
      max-width: 98%;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      transition: left .5s, opacity .5s;
    }

    // Image hidden in the left
    img.prev {
      opacity: 0;
      left: -147%;
    }

    // Image hidden in the right
    img.next {
      opacity: 0;
      left: 100%;
    }
  }

  &__close-button {
    $size: 4.5rem;
    font-size: $size;
    position: fixed;
    bottom: 10rem;
    left: calc(50% - $size / 2);
    display: flex;
    color: lighten(vars.$color-greene, 30);
    background-color: rgba(vars.$color-bg-primary, .3);
    border-radius: 50%;

    @include mixins.laptop {
      top: 10rem;
      bottom: unset;
      right: 33rem;
      left: unset;
    }
  }
}
