@use './../variables' as vars;
@use './../mixins';

.image-overlay {
  cursor: pointer;
  background-color: rgba(black, 0.4);
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  &__container {
    height: 100%;
    display: flex;
    overflow-y: auto;
    padding: 3.2rem 0;
    
    img {
      cursor: default;
      max-width: 98%;
      margin: auto;
    }
  }

  &__close-button {
    $size: 4.5rem;
    font-size: $size;
    position: fixed;
    bottom: 10rem;
    left: calc(50% - $size / 2);
    display: flex;
    color: lighten(vars.$color-greene, 30);
    background-color: rgba(vars.$color-bg-primary, .3);
    border-radius: 50%;

    @include mixins.laptop {
      top: 10rem;
      bottom: unset;
      right: 33rem;
      left: unset;
    }
  }
}
