@use './../variables' as vars;
@use './../mixins';

.images-overlay {
  background-color: rgba(black, 0.65);
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: no-drop;

  svg {
    pointer-events: none;
  }

  &__close-button, &__prev-button, &__next-button {
    cursor: pointer;
  }

  &__slider {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  // Image DIV container
  &__image {
    cursor: default;
    pointer-events: none;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    transition: left vars.$duration-normal, opacity 0s, max-height vars.$duration-normal;

    @include mixins.tablet {
      transition: left vars.$duration-normal, opacity vars.$duration-short, max-height vars.$duration-normal;
    }

    &.prev, &.next {
      transition: left vars.$duration-normal, opacity vars.$duration-normal, max-height vars.$duration-short;
      opacity: 0;
    }

    &.prev {
      left: -100%;
    }

    &.next {
      left: 100%;
    }
    
    img {
      pointer-events: all;
      max-width: 98%;
    }
  }

  // Slider UI components
  $size: 4.5rem;
  $color: lighten(vars.$color-greene, 30);

  &__close-button {
    z-index: 2;
    font-size: $size;
    position: fixed;
    bottom: 6%;
    left: calc(50% - $size / 2);
    display: flex;
    color: $color;

    svg {
      background-color: rgba(black, 0.2);
      border-radius: 50%;
    }

    @include mixins.laptop {
      font-size: calc($size - .5rem);
      top: 5%;
      right: 4.4%;
      bottom: unset;
      left: unset;
    }
  }

  &__current-info {
    z-index: 2;
    display: flex;
    height: $size;
    position: fixed;
    bottom: 12.5rem;
    right: 2%;
    pointer-events: none;
    text-shadow: 1px 1px 2px black;

    p {
      color: vars.$color-white;
      font-size: 1.7rem;
    }

    @include mixins.tablet {
      p {
        font-size: 2.5rem;
      }
    }

    @include mixins.laptop {
      top: 10.7rem;
      right: 1%;
    }

    @include mixins.desktop {
      right: 4%
    }
  }

  &__prev-button, &__next-button {
    z-index: 2;
    color: vars.$color-greene-light;
    font-size: 4rem;
    
    border-radius: .5rem;
    padding: 1.5rem .3rem;
    position: fixed;
    top: 50%;

    @include mixins.tablet {
      font-size: 6rem;
    }

    @include mixins.laptop {
      &:hover {
        color: $color;
      }
    }
  }

  &__prev-button {
    left: 0;

    @include mixins.tablet {
      left: 1%;
    }

    @include mixins.laptop {
      left: 7%;
    }
  }

  &__next-button {
    transform: scaleX(-1);
    right: 0;

    @include mixins.tablet {
      right: 1%;
    }

    @include mixins.laptop {
      right: 7%;
    }
  }
}
