@use './../variables' as vars;
@use './../mixins';

// Nav container
.nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: .4rem;
  bottom: 0;
  transition: right vars.$duration-short;

  @include mixins.tablet {
    right: 4rem;
  }
  
  @include mixins.laptop {
    right: 14rem;
  }
}

// Icons container
.nav__icons {
  transition: font-size vars.$duration-short;
  font-size: 2rem;

  #icon-lang {
    font-size: 2.1rem;
  }

  #icon-chat {
    font-size: 1.9rem;
  }

  @include mixins.tablet {
    font-size: 2.5rem;
  
    #icon-lang {
      font-size: 2.6rem;
    }
  
    #icon-chat {
      font-size: 2.4rem;
    }
  }

  background-color: rgba(vars.$color-blue, 0.4);
  border-radius: .6rem;
}

// Each icon
.nav__icon {
  padding: 1.1rem .5rem;

  @include mixins.tablet {
    padding: 1rem .5rem;
  }

  opacity: 0.8;
  color: lighten(vars.$color-greene, 5);

  & svg:hover {
    cursor: pointer;

    @include mixins.laptop {
      color: lighten(vars.$color-greene, 45);
    }
  }
}
