@use './../variables' as vars;
@use './../mixins';

// Nav container
.nav {
  display: flex;
  align-items: center;
  position: fixed;
  height: 100vh;
  transition: right vars.$duration-short;
  right: .3rem;
  padding-top: 7rem;

  @include mixins.tablet {
    right: 4rem;
    padding-top: 0;
  }
  
  @include mixins.laptop {
    right: 10rem;
  }
}

// Icons container
.nav__icons {
  transition: font-size vars.$duration-short;
  font-size: 2rem;

  #icon-language {
    font-size: 2.3rem;
    color: lighten(vars.$color-bg-primary, 55);

    &:hover {
      color: lighten(vars.$color-bg-primary, 70);
    }
  }

  #icon-chat {
    font-size: 1.9rem;
  }

  @include mixins.tablet {
    font-size: 2.5rem;
  
    #icon-language {
      font-size: 2.6rem;
    }
  
    #icon-chat {
      font-size: 2.4rem;
    }
  }

  border-radius: .6rem;
  background-color: rgba(vars.$color-blue, 0.5);
  @include mixins.tablet {
    background-color: rgba(vars.$color-blue, 0.4);
  }
}

// Each icon
.nav__icon, .nav__icon--active {
  padding: .9rem .7rem;

  @include mixins.tablet {
    padding: 1rem .5rem;
  }

  opacity: 0.8;
  color: lighten(vars.$color-greene, 5);

  &:hover {
    cursor: pointer;
  }
}

.nav__icon {
  &:hover {
    color: lighten(vars.$color-greene, 45);
  }
}

.nav__icon--active {
  color: vars.$color-white;
}
