.transition-opacity-300ms{
  transition: 300ms !important;
}

.opacity-0, .hide{
  opacity: 0 !important;
}

.opacity-1{
  opacity: 1 !important;
}

.unhide{
  transition: opacity 1s ease-in-out !important;
  opacity: 1 !important;
}

.display-none{
  display: none !important;
}