@use 'variables' as vars;

/* Estilos generales del documento */

html{
  font-size: 6.25%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-size: 16rem;
  font-family: 'Roboto', sans-serif;
  background-color: vars.$color-bg-primary;
  color: vars.$color-green;
}

/* Estilos generales de los elementos */
img{
  max-width: 100%;
  display: block;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  text-align: center;
}

p{
  margin: 0;
}

section{
  margin-top: 50rem;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  max-width: 98%;
  flex: 1 1;
  display: flex;
  justify-content: center;
  background-color: darken($color: vars.$color-bg-primary, $amount: 0);
}