@use 'variables' as vars;

/* Estilos generales del documento */

html{
  font-size: 6.25%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: vars.$color-bg-primary;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-size: 16rem;
  font-family: 'Roboto', sans-serif;
  background-color: vars.$color-bg-primary;
  color: vars.$color-green;
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(0)" opacity="0.2" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'), vars.$color-bg-primary;
  background-size: 10px, 100%;
}

/* Estilos generales de los elementos */
img{
  max-width: 100%;
  display: block;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  text-align: center;
}

h2{
  font-size: 40rem;
}

h3{
  font-size: 30rem;
}

h4{
  font-size: 20rem;
}

a{
  color: lighten(vars.$color-green, 10);
  text-decoration: none;
  &:hover{
    cursor: pointer;
  }
}

p{
  margin: 0;
  font-size: 18rem;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

section{
  min-height: 100vh;
  max-width: 98%;
  &:not(:first-of-type){
    margin-top: 60rem;
  }
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  max-width: 98%;
  flex: 1 1;
  display: flex;
  justify-content: center;
}