// Colores
$color-bg-primary: #1F2041;
$color-bg-secondary: #4B3F72;
$color-white: #FFFFFF;
$color-black: #000000;
$color-gray: #888888;
$color-yellow: #FFC857;
//$color-green: #119DA4;
$color-green: #11a6ae;
$color-blue: #19647E;